@import "/src/assets/css/bootstrap.css";
@import "/src/assets/css/demo-page.css";
@import "/src/assets/css/examples.css";
@import "/src/assets/css/geochart.css";
@import "/src/assets/css/magnific-popup.css";
@import "/src/assets/css/style.css";
@import "@/../node_modules/bootstrap/scss/mixins/_breakpoints.scss";

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

:root {
    --mainColor: #68AE00;
    --SecondColor: #FC8213;
}

a,
a:hover {
    text-decoration: none;
}

.climate-gd1top-right p,
.climate-gd1top-left p {
    margin: 0 !important;
}

a {
    text-decoration: none;
}

.sidebar-collapsed .fixed {
    width: 96%;
}

.inner-block {
    padding-bottom: 25px;

    @include media-breakpoint-down(sm) {
        margin-top: 100px;
    }
}

@keyframes pulse-text {
    0% {
        background-color: #ccc;
    }

    50% {
        background-color: #e5e5e5;
    }

    100% {
        background-color: #ccc
    }
}


@keyframes pulse-img {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .2;
    }

    100% {
        opacity: 1;
    }
}

.loading [data-loading='text'] {
    -webkit-background-color: rgb(43, 30, 30);
    -moz-background-color: rgb(33, 27, 27);
    -o-background-color: rgb(31, 25, 25);
    background-color: #222;
    color: transparent !important;
    animation: pulse-text 1s linear infinite;
    display: inline-block;
    margin-left: 0 !important;
    padding-bottom: 0;
}


.loading [data-loading='img'] {
    animation: pulse-img 2s linear infinite;
    opacity: 1;
}



// transition for vue 3
// fade
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.2s ease;
}

.fade-enter-from {
    opacity: 0;
}

.dropdown-menu {
    transition: transform 0s;
}

.fade-leave-to {
    opacity: 1;
}


.dirty {
    border-color: #5a5 !important;
    background: #efe;
}

.dirty:focus {
    outline-color: #8e8 !important;
}

.error {
    border-color: red !important;
    background: #fdd !important;
}

.error:focus {
    outline-color: #f99;
}

/*
  Enter and leave animations can use different
  durations and timing functions.
*/
.slide-fade-enter-active {
    transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateX(20px);
    opacity: 0;
}



// example

.example-enter-active,
.example-leave-active {
    transition: opacity 1s ease;
}

.example-enter-from {
    transform: rotateX(0);
    opacity: 0;
}

.example-leave-to {
    opacity: 1;
    transform: rotateX(-30deg);
}

.dropdown-menu {
    top: 10px !important;
}

.climate.row>div {
    margin-top: 25px;
}

canvas {
    margin: auto !important;
}

.inbox h2 {
    margin-left: 15px;
}



// charts 



@media (max-width:767px) {
    .profile_details li a i.fa.lnr {
        right: -7%;
    }

    .profile_details ul li ul.dropdown-menu.drp-mnu {
        min-width: 123px !important;
    }

    canvas {
        width: 200px !important;
        height: 200px !important;
    }

    table {
        text-align: center;
    }

    .page-container.sidebar-collapsed-back .logo {
        display: none;
    }
}